<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% @comments.each do |comment| %>
    <p><%= "#{comment.body}" %></p>
<% end %>

<%= link_to 'New Comment', new_product_comment_path(@product.id) %> |
<%= link_to 'Back', products_path %>
