<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
    <% @product.categories.each do |category| %>
        <span><%= "#{category.name} | " %></span>
    <% end %>
</p>

<% @comments.each do |comment| %>
    <p><%= "#{comment.body} User: " %> | <%= link_to comment.user.email, user_path(comment.user.id) %></p>
<% end %>

<% if user_signed_in? %>
    <%= link_to 'New Comment', new_product_comment_path(@product.id) %> | <%= link_to 'Back', products_path %>
<% else %>
    <%= link_to 'Login to add comment', new_product_comment_path(@product.id) %> | <%= link_to 'Back', products_path %>
<% end %>
